#background-image {
  background-image: url("./background.jpeg");
  background-position: bottom;
}

#dice-instruction {
  color: #d0d090;
}

.modal-content button {
  font-family: fantasy;
  background-color: #fbf484b3;
}

.modal-content button:hover {
  background-color: rgba(168, 230, 163, 0.1);
  color: #fbf484b3;
}

#page-title,
#previous-label,
#dice-instruction,
#dice-label,
.modal-content button:hover {
  color: #abb0f3;
}

.modal-content button {
  background-color: #abb0f3;
}
