#content {
  display: flex;
  flex-grow: 1;
  background-size: cover;
  background-position: center; */
}

#background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./background.jpeg");
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

header {
  background-color: rgba(30, 30, 30, 0.9);
}

#dice-instruction {
  color: #d0d090;
}

.modal-content button {
  font-family: fantasy;
  background-color: #fbf484b3;
}

.modal-content button:hover {
  background-color: rgba(168, 230, 163, 0.1);
  color: #fbf484b3;
}
