#background-image {
  background-image: url("./background.jpeg");
  background-position: center;
}

#page-title {
  color: #d0c744;
}

#dice-instruction {
  color: #d0d090;
}

.modal-content button {
  font-family: fantasy;
  background-color: #fbf484b3;
}

.modal-content button:hover {
  background-color: rgba(168, 230, 163, 0.1);
  color: #fbf484b3;
}
