/* styles.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("desert 4.jpeg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.modal-content button {
  background-color: #d0c744;
}

.modal-content button:hover {
  color: #d0c744;
}

#big-container {
  padding: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#columns {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-bottom: 32.4px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 15px 20px;
}

#left-column {
  justify-content: flex-start;
  align-items: flex-start;
}

#center-column {
  flex-wrap: wrap;
  align-content: center;
}

#right-column {
  display: flex;
  justify-content: flex-start; /* Align to the right */
  align-items: flex-end; /* Align to the top */
}

#sequence-container,
#player-sequence-container {
  width: 250px;
  height: 250px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border: 2px solid #d0d090; /* Match the theme */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); /* Add a glowing effect */
  border-radius: 10px;
}

#player-sequence-container {
  align-self: center;
  margin-top: 2em;
}

#sequence,
#player-sequence {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}

#sequence {
  color: #d0d090; /* Placeholder color */
}

#player-sequence {
  color: #ffffff; /* Placeholder color */
}

#counter-container {
  width: 125px; /* 1/4 the size of sequence squares */
  height: 125px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #d0d090; /* Match the theme */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); /* Add a glowing effect */
  border-radius: 10px;
}

#turn-text {
  font-size: 18px;
  color: #ffcc66; /* Counter label color */
  margin-bottom: 10px;
}

#turn-counter {
  font-size: 30px;
  font-weight: bold;
  color: #d0d090; /* Counter numbers color */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Digital effect */
}

#game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

h1 {
  color: #1e641f;
  font-family: math, arial;
  font-size: 3em;
  text-align: center;
}

#game-info {
  border: 1px dashed #d0d090;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em 1em 0.5em 1em;
  margin-top: 15px;
  width: 70%;
  text-align: center;
}

#feedback {
  margin: 10px 0;
  font-size: 18px;
}

#start-button {
  margin-top: 2em;
  width: 40%;
  padding: 25px 10px;
  color: red;
  font-size: 26px;
}

#instructions {
  padding: 0.7em 0.5em;
  font-size: 18px;
  color: #d0c744;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px dashed #d0d090;
  line-height: 25px;
}

#instructions p {
  margin: 0;
}

#first-instruction {
  color: #d0d090;
  font-size: 20px;
}

#follow {
  margin: 12px 0 !important;
}

#recording-instr-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px dashed #d0d090;
  padding: 10px;
  width: 70%;
  margin-top: 2em;
}

#recording-instructions {
  font-style: italic;
  font-size: 16px;
  color: #d0d090;
  line-height: 1.7em;
}

.red {
  color: red;
}

#instruction {
  font-size: 22px;
  color: #ffcc66;
  margin: 0;
}

#page-title {
  color: #ffcc66;
}

footer a {
  color: #d0c744;
}
