/* General styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0 20px;
  background-color: black;
  color: #a8e6a3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #1e1e1e;
}

header h1 {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
  color: #a8e6a3;
  font-size: 5em;
  margin: 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0;
  background-color: #1e1e1e;
  color: #a8e6a3;
}

footer p {
  margin: 0;
}

#instructions {
  width: 80%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.lighter-text {
  font-size: 0.9em;
  color: #a0a6a4;
  font-style: italic;
}

#days-left,
#total-points {
  font-weight: bold;
  color: red;
}

#calendar-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 40px;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.day-square {
  background-color: rgba(168, 230, 163, 0.1);
  border: 2px solid #a8e6a3;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.day-square.unlocked {
  justify-content: flex-start;
  align-items: flex-end;
}

.locked {
  filter: grayscale(1);
  cursor: not-allowed;
}

.unlocked {
  background-image: url("./jimli-quest.jpeg");
  background-size: cover;
}

.day-date {
  font-size: 0.8em;
  margin-top: 5px;
  color: #d0d090;
}

.unlocked .day-date {
  margin: 3px 12px 0 0;
  color: black;
}

/* Hover effect for all squares */
.day-square:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

/* Styling the last day square differently */
#contest-square,
#final-day-square {
  height: 140px;
  font-size: 2em;
  background-color: rgba(168, 230, 163, 0.2);
  border: 3px solid #d0d090;
  background-image: url("./jimli-festival.jpeg");
  background-size: cover;
}

#contest-square.unlocked .day-date {
  display: none;
}

/* ----------- FINAL DAY SQUARE --------------- */

#final-day-square {
  width: 280px;
  background-image: url("./final-day.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#day-title {
  margin: 3px 12px 0 0;
  color: #211d1d;
  font-size: 0.55em;
  margin: 0.4px 0 0 8px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
}
